@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap");
:root {
  --main-bg-color: rgb(88, 10, 79);
  --font1: "Roboto", sans-serif;
  --font2: "Varela Round", sans-serif;
}
.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}
.max-width-1 {
  max-width: 80vw;
}
.max-width-2 {
  max-width: 60vw;
}
.m-auto {
  margin: auto;
}
/* .my-2 {
  margin-top: 32px;
  margin-bottom: 32px;
} */
.form-input {
  border-radius: 4px;
  padding: 3px 0px;
  font-size: 16px;
  border: 2px solid black;
  margin: 0 4px;
  font-family: var(--font1);
}

.btn {
  border: 2px solid black;
  font-family: var(--font1);
  cursor: pointer;
  border-radius: 4px;
  padding: 0px 20px;
  font-size: 16px;
  cursor: pointer;
  padding: 3px;
}
.btn:hover {
  color: white;
  background-color: var(--main-bg-color);
  transition: all 0.9s ease-in-out;
}
